blinker==1.4
cycler==0.10.0
docutils==0.15.2
feedgenerator==1.9
ghp-import==0.5.5
Jinja2==2.10.3
kiwisolver==1.1.0
latexcodec==2.0.0
MarkupSafe==1.1.1
matplotlib==3.0.3
numpy==1.17.4
pelican==4.2.0
pybtex==0.22.2
Pygments==2.5.2
pyparsing==2.4.5
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.3
six==1.13.0
Unidecode==1.1.1
